<h1>Movies</h1>
<p>Genre Keyword: <%= params[:keyword] %> </p>

<div class="row">
  <% @result.each do |movie| %>
    <div class="col-md-2">
      <div class="card mb-4" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Title: <%= movie["title"] %> </h5>
            <h5 class="card-title">Rating: <%= movie["vote_average"] %> </h5>
            <p class="card-text"><%= movie["overview"] %></p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
