<h1>Top Rated Movies</h1>
<p>Presented by EnterDB</p>

<div class="row">
  <% @top_rated.each do |t_rated| %>
    <div class="col-md-2">
      <div class="card mb-4" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Title: <%= t_rated["title"] %> </h5>
            <h5 class="card-title">Rating: <%= t_rated["vote_average"] %> </h5>
            <p class="card-text"><%= t_rated["overview"] %></p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>